body {
    background:whitesmoke;
    color:green;
    width:10em;
    margin:auto;
}

form {
    width:10em;
}

input {
    float:left;
    width:11.5em;
    text-align:center;

}

button {
    background:green;
    color:whitesmoke;
    border:2px black solid;
    font-weight:bold;
    padding:1em;
    display:block;
    margin:auto;
}